slack-database/state-machine/getMessage.asl.yaml
Comment: get messages and save to dynamo and send to SQS
StartAt: GetTaskFromSqs
States:
    GetTaskFromSqs:
        Type: Pass
        Parameters:
            api: twitter-list
            channel: la-priere
            twitter_list: '1516932575876378625'
            updated_at: '2022-05-04T15:06:20Z'
        ResultPath: $.task
        Next: ApiChoise
    ApiChoise:
        Type: Choice
        Choices:
            -
                Variable: $.task.api
                StringEquals: twitter-list
                Next: GetTwitterList
        Default: DefaultState
    DefaultState:
        Type: Fail
        Cause: No Matches!
    GetTwitterList:
        Type: Task
        Resource: '${GetTwitterListTweetArn}'
        InputPath: $.task
        ResultPath: $.messages
        Next: ExecuteMessageMap
    ExecuteMessageMap:
        Type: Map
        InputPath: $
        ItemsPath: $.messages.data
        Parameters:
            channel.$: $.task.channel
            api.$: $.task.api
            message.$: $$.Map.Item.Value
        ResultPath: null
        MaxConcurrency: 0
        Iterator:
            StartAt: SaveMessageToDynamoDb
            States:
                SaveMessageToDynamoDb:
                    Type: Task
                    Resource: '${DynamoDbPutItemArn}'
                    Parameters:
                        TableName: '${MessageDynamoDbTable}'
                        Item:
                            channel:
                                S.$: $.channel
                            id:
                                S.$: $.message.id
                            api:
                                S.$: $.api
                            user_name:
                                S.$: $.message.user_name
                            author_id:
                                S.$: $.message.author_id
                            created_at:
                                S.$: $.message.created_at
                            url:
                                S.$: $.message.url
                    ResultPath: null
                    Next: SendToSlackMessageSqs
                SendToSlackMessageSqs:
                    Type: Task
                    Resource: '${ToSlackMessageSqsArn}'
                    Parameters:
                        QueueUrl: '${ToSlackMessageSqsUrl}'
                        MessageGroupId.$: $.channel
                        MessageBody.$: $.message.url
                        MessageAttributes:
                            url:
                                DataType: String
                                StringValue.$: $.message.url
                            channel:
                                DataType: String
                                StringValue.$: $.channel
                    ResultPath: null
                    End: true
        Next: SaveToChannelDynamoDb
    SaveToChannelDynamoDb:
        Type: Task
        InputPath: $
        Resource: '${DynamoDbUpdateItemArn}'
        Parameters:
            TableName: '${ChannelDynamoDbTable}'
            Key:
                id:
                    S.$: $.task.channel
            UpdateExpression: 'SET updated_at = :updated_at'
            ExpressionAttributeValues:
                ':updated_at':
                    S.$: $.messages.updated_at
        End: true
